*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

::-moz-selection { background: none; }
::selection      { background: none; }

html, body {
    color: #000;
    background-color: #3c6;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body > section {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    padding: 1rem;
}

button {
    padding: .5rem;
    font-size: 1rem;
}

body > section#welcome {
    display: block;
}

div#info-table {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

div#info-table > div {
    display: table;
    position: static;
    width: 100%;
    height: 100%;
    margin: 0;
}

@media (orientation: portrait) {
    html {
        font-size: 5vw;
    }
    div#info-table {
        left: 0;
        top: 20rem;
    }
    div#info-table > div > div {
        display: table-cell;
        text-align: center;
        vertical-align: center;
    }
    div#info-table > div > div > div {
        display: inline-block;
    }
}
@media (orientation: landscape) {
    html {
        font-size: 5vh;
    }
    div#info-table {
        left: 20rem;
        top: 0;
    }
    div#info-table > div > div {
        display: table-row;
    }
    div#info-table > div > div > div {
        display: table-cell;
        text-align: center;
        vertical-align: center;
    }
}

#screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 20rem;
    height: 20rem;
}

#screen > div {
    font-size: 130%;
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin: -2rem -2rem;
    border: .3rem solid #000;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
}

.current {
    font-size: 200%;
}

.target {
    font-size: 150%;
}

#levels {
    text-align: center;
}

button.level {
    width: 5rem;
    height: 5rem;
    margin: .4rem;
    font-weight: bold;
    font-size: 1rem;
}

#screen > div > div.beer {
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    background-repeat:   no-repeat;
    background-size:     100% 100%;
    background-image:    url(main/beer.jpg);
    transition: top 1s;
}

#screen > div > div {
    position: relative;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
}

#screen > div > div.line2 {
    line-height: 1rem;
}

#screen > div.src {
    box-shadow: 0 0 .5rem .5rem red;
}

#screen > div.dst {
    box-shadow: 0 0 .5rem .5rem cyan;
}

#A, #A-drag {
    left: 15.196rem;
    top: 13rem;
}

#B, #B-drag {
    left: 4.804rem;
    top: 13rem;
}

#C, #C-drag {
    left: 10rem;
    top: 4rem;
}

div#screen > div#A-drag,
div#screen > div#B-drag,
div#screen > div#C-drag {
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    margin: -3rem -3rem;
    background-color: rgba(255,255,255,.3);
    border: 1px solid #000;
    box-shadow: .5rem .5rem .1rem rgba(0,0,0,.3), .5rem .5rem .1rem rgba(0,0,0,.3) inset;
    opacity: 0;
}

div#screen > div#A-drag.show,
div#screen > div#B-drag.show,
div#screen > div#C-drag.show {
    opacity: 1;
}

div.full-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}